<!DOCTYPE html>
<html class="{{ theme.html_classname }}">
<head>
	<title>{{ theme.appname }}</title>
	<link rel="stylesheet" href="/styles/core.css" />
	{% block head %}{% endblock %}
</head>
<body>
	{% block body %}{% endblock %}
</body>
